div.container-fluid
    div.row
        div.col-xs-12(ng-if="loading")
            span(us-spinner)

    div.content(ng-if="!loading")
        div.row
            div.col-xs-12(ng-include="'components/Nav/Nav.tpl'")

        div.row
            div.col-xs-12
                h1 {{pageTitle}}

        div.row
            div.col-xs-12
                h2 Items
                
            div.col-xs-12
                ul.list-group
                    li.list-group-item(ng-repeat="item in items")
                        a(href="#") {{item.itemName}}

            div.col-xs-12
                form(ng-submit="insertItem($event)")

                    div.form-group
                        label(for="itemName") Insert item
                        input(type="text", placeholder="Item name", ng-model="newItem.itemName").form-control#itemName

                    button(type="submit", ng-disabled="!(newItem.itemName && newItem.itemName.length > 1)").btn.btn-default Insert item